<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\User\OneDrive - Langara College\Documents\Personal Projects\SSC Course Waitlist Notifier\out\artifacts\WaitlistNotifier_jar\WaitlistNotifier.jar</jar>
  <outfile>C:\Users\User\OneDrive - Langara College\Documents\Personal Projects\SSC Course Waitlist Notifier\out\exe\WaitlistNotifier.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.7.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
    <opt>--module-path</opt>
    <opt>&quot;C:\Program Files\Java\javafx-sdk-15.0.1\javafx-sdk-15.0.1\lib&quot;</opt>
    <opt>--add-modules</opt>
    <opt>javafx.controls,javafx.fxml</opt>
  </jre>
</launch4jConfig>